.container {
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--thirdFont);
}
.article {
  margin: 20px;
  height: auto;
  display: flex;
  flex-direction: column;
  max-width: 1000px;
  gap: 10px;
  padding: 50px;
  background-color: white;
  border-radius: 7px;
}

.bottomContent {
  background-color: #f2f4f5;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}
.writerInfo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.yazi {
  display: flex;
  flex-direction: column;
  height: auto;
  font-size: 18px;
  overflow: hidden;
  border-radius: 5px;
}
.yazi img {
  border-radius: 5px;
  max-width: 100%;
  max-height: auto;
}
.yazi pre {
  border-radius: 5px;
  margin-bottom: 5px;
  background-color: black;
  padding: 10px;
  color: white;
}
