@import url('https://fonts.googleapis.com/css2?family=Inter&family=Lato&family=Poppins:wght@500&display=swap');

:root {
  --firstFont: "Lato", sans-serif;
  --secondFont: "Poppins", sans-serif;
  --thirdFont: 'Inter', sans-serif;
  --editorBorderColor: gray;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html,
body,
#root {
  height: 100%;
  width: 100%;
  font-family: var(--firstFont);
}
main {
  width: 100%;
  height: calc(100% - 70px);
  background-color: rgb(240, 240, 240);
  overflow: auto;
}
.dark {
  background-color: rgb(25, 25, 25);
}
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #fcfcfc;
}

::-webkit-scrollbar-thumb {
  background: #6dd5fa;
}

::-webkit-scrollbar-thumb:hover {
  background: #47bee9;
}
svg {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
.quill {
  position: relative;
}
.ql-toolbar {
  position: absolute;
  display: flex;
  right: 0;
  top: 0;
  z-index: 99;
  justify-content: flex-end;
  border: none !important;
}
.ql-container {
  margin-top: 30px;
  border: none !important;
}
.q1-formats {
  border-radius: 10%;
}

@media only screen and (max-width: 500px) {
  .ql-toolbar{
    position: relative;
    background-color: rgb(240, 240, 240);
  }
  .ql-container {
    margin-top: 0px;
    border: none !important;
  }
  
 }
 