.container {
  background-color: #fff;
  width: 100%;
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.innerContainer {
  width: 70%;
  height: 100%;
  display: flex;
  justify-content: baseline;
  flex-direction: column;
  overflow: hidden;

  gap: 5px;
}
.titleContainer {
  border: 3px solid var(--editorBorderColor);
  margin-left: 1%;
  width: 98%;
  border-radius: 5px;
}
.title {
  width: 100%;

  padding: 10px;
  border: none;
  outline: none;
}
.btnContainer {
  width: 98%;
  margin-left: 1%;
}
.btn {
  float: right;
  width: 200px;
  padding: 10px;
  background-color: var(--editorBorderColor);
  color: white;
  cursor: pointer;
  transition: 500ms;
  display: flex;
  border-radius: 5px;
  align-items: center;
  justify-content: center;
}
.btn:hover {
  opacity: 0.7;
}
