.container {
  width: 100%;
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.innerContainer {
  width: 70%;
  height: 100%;
  display: flex;
  justify-content: baseline;
  flex-direction: column;
  overflow: hidden;

  gap: 5px;
}
.titleContainer {
  margin-left: 1%;
  width: 98%;
  border-radius: 5px;
}
.title {

  width: 100%;
  border: 1px solid #6dd5fa;
  padding: 10px;
border-radius: 5px;
  outline: none;
}
.quill {
  width: 98%;
  margin-left: 1%;
  min-height: 300px;
  overflow: hidden;

  color: #1f2833;
  background-color: white;
  border-radius: 5px;
  border: 1px solid #6dd5fa;
}
.btnContainer {
  width: 98%;
  margin-left: 1%;
}
.btn {
  float: right;
  width: 200px;
  padding: 10px;
  background-color: #6dd5fa;
  color: white;

  cursor: pointer;
  transition: 500ms;
  display: flex;
  border-radius: 5px;
  align-items: center;
  justify-content: center;
}
.btn:hover {
  opacity: 0.7;
}
