.article {
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 10px;
  height: fit-content;
  width: auto;
  gap: 10px;
  z-index: 1;
}
article a {
  color: grey;
}
.article h1 {
  padding: 0;
  margin: 0;
}
.date {
  display: flex;
  align-items: center;
  justify-content: space-between;
  opacity: 0.7;
}

.writerInfo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.bottomContent {
  display: flex;
  flex-direction: column;

  height: 36px;
  justify-content: space-between;
}
.bottomContent div {
  display: flex;
}
.writer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.bottomContainer {
  display: flex;
  flex-direction: column;
  gap: 5px;
  border:1px solid #d0d1d1;
  padding: 10px;

  border-radius: 5px;
}
.yazi {
  display: flex;
  flex-direction: column;
  height: 400px;
  font-size: 18px;
  overflow: hidden;
  border-radius: 5px;
}
.yazi img {
  border-radius: 5px;
  width: 100%;
  height: auto;
}
.yazi pre {
  border-radius: 5px;
  margin-bottom: 5px;
  background-color: black;
  padding: 10px;
  color: white;
}
.writerName {
  font-size: 20px;
}
