.container {
  height: 100%;
  display: flex;
  padding: 50px;
  flex-direction: column;
  overflow: auto;
}

.profile {
  margin: auto;
  width: 400px;
  height: 160px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 50px;
  border-radius: 5px;
}
.dark .profile{
  color: white;
  background-color: black;
  }
.posts {
  width: 100%;
  height: auto;

  padding: 50px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-gap: 10px;
}
@media only screen and (max-width: 1325px) {
  .posts {
    padding: 0;
    padding-top: 10px;
  }
}
