.container {
  width: 100%;
  height: 100%;

  overflow: hidden;
  overflow-y: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.innerContainer {
  max-width: 100%;
  width: 450px;
  height: 80%;
  background-color: rgb(255, 255, 255);
  padding: 10px;
  display: flex;
  align-self: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 10px;

  gap: 10px;
}
.error {
  height: 30px;
  color: red;
  padding: 5px 5px;
  font-size: small;
}
.formContainer {
  height: 100%;
  width: 100%;
  padding: 30px 10px;

  display: flex;
  flex-direction: column;

  align-items: center;
}
.formContainer h1 {
  margin-bottom: 7rem;
  font-family: var(--secondFont);
}
.form {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.form label {
  display: flex;
  align-items: center;

  background-color: #f2f4f5;
  padding: 12px 0px 12px 12px;

  border-radius: 0.3rem;
}
.form label svg {
  margin-right: 10px;
}

.form input {
  border: none;
  outline: none;
  background-color: transparent;
}
.form button {
  width: 100%;
  cursor: pointer;
  padding: 12px 30px;

  border-radius: 0.3rem;
  border: none;
  outline: none;
  transition: 400ms;
}
.form button[type="submit"]:hover {
  color: white;
  background-color: black;
}
.form a,
.form a:visited {
  text-decoration: none;
  color: #0f9d58;
}
.googleButton {
  display: flex;
  align-items: center;
  justify-content: center;

  margin-top: 20px;

  box-shadow: #0f9d58 0px 6px 24px 0px, #0f9d58 0px 0px 0px 1px;

  background-color: #0f9d58;

  color: white;
}
.googleButton:hover {
  background-color: #f2f4f5;
  color: #0f9d58;
}
