header {
  width: 100%;
  height: 70px;
  font-family: var(--secondFont);
  font-size: 16px;
  display: flex;
  color: black;
  background-color: white;
  align-items: center;
  justify-content: center;
  padding: 20px;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  width: 80%;
}
.navContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

nav a,
nav a:link,
nav a:visited {
  position: relative;
  color: black;
  text-decoration: none;
  width: fit-content;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
nav a:hover {
  color: #6dd5fa;
}

.active {
  color: #6dd5fa !important;
}
.post {
  color: white;
  transition: 300ms;
  box-shadow: white 0px 6px 24px 0px, white 0px 0px 0px 3px;
  border-radius: 3px;
}
.post:hover {
  box-shadow: #6dd5fa 0px 6px 24px 0px, #6dd5fa 0px 0px 0px 3px;
}
.post.active {
  box-shadow: #6dd5fa 0px 6px 24px 0px, #6dd5fa 0px 0px 0px 3px;
}

.account {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: larger;
}

.accountNav {
  position: absolute;
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 8px;
  padding: 20px;
  background-color: white;
  top: 72px;
  right: -80px;
  z-index: 2;
}
.accountMenus {
  cursor: pointer;
}
.btn:hover {
  color: #6dd5fa;
  border-color: #6dd5fa;
}
.triangle {
  position: absolute;
  top: -25px;
  color: white;
  left: 45%;
  transform: translateX(-50%);
  transform: rotate(180deg);
  font-size: 35px;
}
@media only screen and (max-width: 1280px) {
  nav {
    font-size: 14px;
    gap: 5px;
  }
}
@media only screen and (max-width: 650px) {
  .accountNav {
    right: -60px;
  }
  .triangle {
    left: 55%;
  }
}
